{% extends 'base.html' %}
{% block main %}
<!-- Blog Entries Column -->
    <h1 class="my-4">
        <small>About | 个人简历</small>
    </h1>
    <!-- Blog Post -->
    <div class="card mb-4">
    <!--img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"-->
        <div class="card-body">
            <h2 class="card-title">教育经历</h2>
            <hr>
            <p class="card-text">2013.08-2017.06 东南大学                 计算机科学与技术</p>
        </div>
        <div class="card-body">
            <h2 class="card-title">工作经历</h2>
            <hr>
            <p class="card-text">2017.04-2017.12 上海聚力传媒技术有限公司 Python开发工程师</p>
            <p calss="card-text">2017.12-至今    广州优普计算机有限公司   大数据开发工程师</p>
        </div>
    </div>
{% endblock main %}
